  @import url (http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700);


  /*body {
     color: #E0D1C2;background: #191919;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 300;*/
  }

  header {
  	padding-top: 10px;
  	position: fixed;
  	width: 50%;

  }

  .nav ul {
    list-style: none;
    background-color: transparent;
    text-align: center;
    padding: 0;
    margin: 0;

  }
  .nav li {
    font-family: 'Josefin Sans', sans-serif;
    font color: #E0D1C2;
    font-weight: 300;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #23D7E5;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 75px;
      border-bottom: none;
      height: 45px;
      line-height: 50px;
      font-size: 1.1em;
    }
   
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
     .nav li ul {
      position: absolute;
      display: none;
      width: inherit;
    }

    .nav li:hover ul {
      display: block;
    }

    .nav li ul li {
      display: block;
    }
  .nav li li {
    font-size: 1.2em;
  }



  /*.logo {
      float: left 25%;
      margin: 10px;
      background-attachment: fixed;
      background-position: left top;
      position: absolute;*/
    
  }

  /*.logo:hover {
      opacity: .4;
      filter: alpha(opacity=90);
  }*/

.content {
    width: auto;
    padding: 10px;
    float: right;
    margin-right: 5px;
    margin-bottom: ;
    margin-top: 10px;
}

.wellness {
    width: auto;
    margin-left: 0px;
    margin-bottom: ;
    margin-top: 100px;
    float: left;
}

.table1 {
  position: bottom;
  width:300px;
  margin: auto;
  font-size:12px;
  font color: #D9DAF0;
  border:1px solid #23D7E5;
  background-color: #E0D1C2;
  border-collapse: collapse;

}

.table1 th{
  color: #E0D1C2;
  vertical-align: middle;text-align:center;
  border:1px solid #23D7E5;
}

.table1 td {
  color: #D9DAF0;
  vertical-align: middle; text-align: left;
  border: 1px solid #23D7E5;
}