@import url(http://fonts.googleapis.com/css?family=Yellowtail|Open+Sans+Condensed:300);
* { margin:0; padding:0; box-sizing:border-box; }


body{
	color:#FFFAF0;
	background-color:  #004E6F;
	text-align: center; 
	font-family: "Open Sans Condensed", sans-serif;	
}

  header {
  	padding-top: .1em;
  	width: 100%;


  }


 .nav ul {
    list-style: none;
    background-color: transparent;
    text-align: center;


  }

  .nav li {
    font-family: 'Open Sans Condensed', sans-serif;
    font color: #004E6F;
    font-weight: 300;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;

  }
   
  .nav a {
    text-decoration: none;
    color: #FFFAF0;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #005C7A;
  }
   
  .nav a.active {
    background-color:  #297AA3;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 375px) {
    .nav li {
      border-bottom: none;
      height: 45px;
      line-height: 50px;
      font-size: 1.1em;
      width: 25%;
   
    }
   
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
     .nav li ul {
      position: absolute;
      display: none;
      width: inherit;
    }

    .nav li:hover ul {
      display: block;
    }

    .nav li ul li {
      display: block;
    }
  .nav li li {
    font-size: 1.2em;
  }


h1{
	font-size:60px;
	font-weight: normal;
	letter-spacing: 1px;
	padding: .2em ;
	color:#FFFAF0;
	font-style: ;
    font-family: "Yellowtail", cursive;
    text-shadow: 2px 2px #566D7E;
    background-color: ;
 

}



	
img { 
   border:none; 
   max-width: 100%;


}


p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: normal;
	font-size: 17px;
    letter-spacing: .25px;
    line-height: 125%;
    margin: 0 auto 10px;
    width: 400px;
    background-repeat: repeat-y;
    background-position: top center;
    background-color: ;
    

}


h2{
	font-size: 30px;
	letter-spacing: .50px;
	color:#B0C4DE;
	font-style: ;
	text-shadow: 2px 2px #566D7E;
	background-color: ;
	border-color: red;
	border-style: solid;
  width: 40%;
 
	
}

ul{
	padding:0;
	list-style-position:inside;
	line-height: 119%;
	letter-spacing: normal;
	text-align: left;
	width: 100px;
	margin: 0 auto 15px;
	background-color: none;


}


a:link {
	color:#54B5D1;
	background-color:transparent;
}
a:hover {
    color: #297AA3;
}


div.fullWidth {
  width: 25%%;
}

.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height:0;
}

.image1 {
 	padding: .5em;
  width: 25%;
  float: left;
 	border-width: 1px;
 	border-color: red;
 	border-style: solid;
 }



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}