body{color:#FFFAF0;background:#5F9EA0;
text-align: center; list-style-position: center;
font-family: Helvetica;
font-size: 70px;}
h1 {
	font-family: Yellowtail;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 38px;
}
hr{width: 100px;}

