body{
	color:#FFFAF0;
	background:#5F9EA0;
	text-align: center; 
	font-family: Helvetica;
}

h1{
	font-size:57px;
	color:#B0C4DE;
	font-style: Helvetica
}

h2{font-size: 30px;
	color: #B0C4DE;
}

p{font-weight: 0;}

ul{
	padding:0;
	list-style-position:inside;
}

a:link {color:#000000;
	background-color:transparent;
	text-decoration:italic
}


hr{
	width: 100px;
}

